<hr>
<ul>
    <li><a href="/">トップページ</li>
    <li><a href="/zaiko">在庫一覧(Mock API呼び出し)</li>
    <li><a href="/review">レビューのAPI呼び出し</li>
    <li><a href="/func">レビューのFunction直接呼び出し</li>
</ul>
<hr>
<ul>
    <li><a href="/.auth/login/aad">Log in (/.auth/login)</a>
    <li><a href="/.auth/logout">Log out (/.auth/logout)</a>
    <li><a href="/.auth/refresh">Refresh token (/.auth/refresh)</a>
    <li><a href="https://developer.microsoft.com/en-us/graph/graph-explorer">Microsoft Graph Explorer</a>
    <li><a href="https://jwt.ms/">JWT.ms - decode access token</a>
</ul>

</body>
</html>